{%  extends 'base.html' %}

{%  block titulo %}
Contact
{%  endblock titulo %}

{%  block contenido %}
    <h1>¿TIENEN ALGUNA DUDA?</h1>
    <p>DÉJANOS TU EMAIL</p>

    {% if save %}
        <p>Enviado correctamente</p>
    {% else %}


<form method="post" novalidate>

 {% csrf_token %}
    <p>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email">
    </p>
    <p>
        <label for="comentario">Comentario:</label> </p>
    <p>
        <textarea name="comentario" rows="10" cols="40"></textarea>

    </p>

        <input type="submit" value="Enviar">

</form>
    {% endif %}
{% endblock %}